# These are basic snippets for exampls, exercises environments.
# Also included are snippets for statements, hints, solutions, answers and title, that would often need to go inside these.
".text.xml.pretext":
  'example':
    prefix: 'example'
    body:'''
    <example>
      <statement>
        <p>
          $1
        </p>
      </statement>
      <solution>
        <p>
          $2
        </p>
      </solution>
    </example>
    '''
  'problem':
    prefix: 'problem'
    body:'''
    <problem>
      <statement>
        <p>
          $1
        </p>
      </statement>
      <solution>
        <p>
          $2
        </p>
      </solution>
    </problem>
    '''
  'question':
    prefix: 'question'
    body:'''
    <question>
      <statement>
        <p>
          $1
        </p>
      </statement>
      <solution>
        <p>
          $2
        </p>
      </solution>
    </question>
    '''
  'exercise':
    prefix: 'exercise'
    body:'''
    <exercise>
      <statement>
        <p>
          $1
        </p>
      </statement>
      <solution>
        <p>
          $2
        </p>
      </solution>
    </exercise>
    '''
  'exercise-WeBWorK':
    prefix: 'ww'
    body:'''
    <exercise>
      <webwork>
        <setup>
          <var>
          </var>
          <pg-code>
          </pg-code>
        </setup>
        <statement>
          <p>
            $1
          </p>
        </statement>
        <solution>
          <p>
          </p>
        </solution>
      </webwork>
    </exercise>
    '''
