# These are basic snippets for exampls, exercises and PROJECT-like environments.
# Also included are snippets for statements, hints, solutions, answers and title, that would often need to go inside these.
".text.xml.pretext":
  'example':
    prefix: 'example'
    body:'''
    <example>
      <statement>
        <p>
          $1
        </p>
      </statement>
      <solution>
        <p>
          $2
        </p>
      </solution>
    </example>
    $0'''
  'problem':
    prefix: 'problem'
    body:'''
    <problem>
      <statement>
        <p>
          $1
        </p>
      </statement>
      <solution>
        <p>
          $2
        </p>
      </solution>
    </problem>
    $0'''
  'question':
    prefix: 'question'
    body:'''
    <question>
      <statement>
        <p>
          $1
        </p>
      </statement>
      <solution>
        <p>
          $2
        </p>
      </solution>
    </question>
    $0'''

  'exercise':
    prefix: 'exercise'
    body:'''
    <exercise>
      <statement>
        <p>
          $1
        </p>
      </statement>
      <solution>
        <p>
          $2
        </p>
      </solution>
    </exercise>
    $0'''
  'exercise-WeBWorK':
    prefix: 'ww'
    body:'''
    <exercise>
      <webwork>
        <setup>
          <var>
          </var>

          <pg-code>
          </pg-code>
        </setup>

        <statement>
          <p>
            $1
          </p>
        </statement>

        <solution>
          <p>
          </p>
        </solution>
      </webwork>
    </exercise>
    '''

#PROJECT-LIKE:
	'activity':
		prefix: 'activity'
		body: '<activity>\n\t$1\n</activity>'

	'exploration':
		prefix: 'exploration'
		body: '<exploration>\n\t$1\n</exploration>'

	'investigation':
		prefix: 'investigation'
		body: '<investigation>\n\t$1\n</investigation>'

	'project':
		prefix: 'project'
		body: '<project>\n\t$1\n</project>'
#Note, tasks now live inside of PORJECT-LIKE, but are formatted the same.
	'task':
		prefix: 'task'
		body: '<task>\n\t$1\n</task>'

#Support elements (statement, solution,etc.):
  'title':
    prefix: 'title'
    body: '<title>$1<\/title>\n\n$0'
  'solution':
    prefix: 'solution'
    body: '<solution>\n\t<p>\n\t$1\n<\/p>\n<\/solution>\n$0'
  'hint':
    prefix: 'hint'
    body: '<hint>\n\t<p>\n\t$1\n<\/p>\n<\/hint>\n$0'
  'answer':
    prefix: 'answer'
    body: '<answer>\n\t<p>\n\t$1\n<\/p>\n<\/answer>\n$0'
  'statement':
    prefix: "statement"
    body: '<statement>\n\t<p>\n\t$1\n<\/p>\n<\/statement>\n$0'
