'.text.xml.mbx':
# The following contains snippets coopted from "language LaTeX" and converted from the Sublime plugin "MBXTools".
# Document level
  'Part':
    'prefix': '<part>'
    'body': """
    <part xml:id=\"$1\">
      <title>$2<\/title>
      $3
    <\/part>"""
  'Chapter - <chapter>':
    'prefix': '<chapter>'
    'body': """
    <chapter xml:id=\"$1\">
      <title>$2<\/title>
      $3
    <\/chapter>"""
  'Section - <section>':
    'prefix': '<section>'
    'body': """
    <section xml:id=\"$1\">
      <title>$2<\/title>
      $3
    <\/section>"""
  'Sub Section':
    'prefix': '<subsection>'
    'body': """
    <subsection xml:id=\"$1\">
      <title>$2<\/title>
      $3
    </\subsection>"""
  'Paragraph':
    'prefix': 'p'
    'body': """
    <p>
      $1
    <\/p>
    """

#Math mode
  'mathmode':
    'prefix': 'm'
    'body': '<m>$1<\/m>$2'
  'mathmode-alt':
    'prefix': '$'
    'body': '<m>$1<\/m>$2'
  'mathequation':
    'prefix': 'me'
    'body': '<me>\n\t$1\n<\/me>\n$2'
  'mathdisplay':
    'prefix': 'md'
    'body': '<md>\n\t<mrow>$1<\/mrow>\n<\/md>'

# Environement
  'Definition-list':
    'prefix': 'dl'
    'body': '<dl><li><title>$1<\/title>$2<\/li><\/dl>'
  'Enumerate':
    'prefix': 'ol'
    'body': """
    <ol>
      <li>
        <p>
          $1
        <\/p>
      <\/li>
    <\/ol>"""
  'Itemize':
    'prefix': 'ul'
    'body': """
    <ul>
      <li>
        <p>
          $1
        <\/p>
      <\/li>
    <\/ul>"""
  'item':
    'prefix': 'li'
    'body': """
    <li>
      <p>
        $1
      <\/p>
    <\/li>"""
  'title':
    'prefix': 'title'
    'body': '<title>$1<\/title>\n\n$2'
  'solution':
    'prefix': 'sol'
    'body': '<solution>\n\t<p>\n\t$1\n<\/p>\n<\/solution>\n$2'
  'hint':
    'prefix': 'hint'
    'body': '<hint>\n\t<p>\n\t$1\n<\/p>\n<\/hint>\n$2'
  'answer':
    'prefix': 'answer'
    'body': '<answer>\n\t<p>\n\t$1\n<\/p>\n<\/answer>\n$2'
  'statement':
    'prfix': "statement"
    'body': '<statement>\n\t<p>\n\t$1\n<\/p>\n<\/statement>\n$2'
  'exercise':
    'prefix': 'exercise'
    'body':"""
    <exercise>
      <statement>
        <p>
          $1
        <\/p>
      <\/statement>
      <solution>
        <p>
          $2
        <\/p>
      <\/solution>
    <\/exercise>
    $3"""
  'ww-exercise':
    'prefix': 'ww'
    'body':"""
    <exercise>
      <webwork>
        <setup>
          <var>
          <\/var>

          <pg-code>
          <\/pg-code>
        <\/setup>

        <statement>
          <p>
            $1
          <\/p>
        </statement>

        <solution>
          <p>
          <\/p>
        <\/solution>
      <\/webwork>
    <\/exercise>
    """

# Element
  'Figure':
    'prefix': '<figure>'
    'body': '<figure>\n\t$1\n<\/figure>\n$2'
  'Figure -xmlid':
    'prefix': 'fig'
    'body': '<figure xml:id=\"$1\">\n\t$2\n<\/figure>\n$3'
  'Table':
    'prefix': 'table'
    'body': '${1:Table}~\\\\ref{${2:tab:}}$0'
  'Display Math — \\\\[ … \\\\]':
    'prefix': '$$'
    'body': '\\\\[\n\t$1\n\\\\]'

# general environment
  '<env>':
    'prefix': '<'
    'body': '<${1:env}>\n\t$2\n<\/${1:env}>\n'
  '<env id>':
    'prefix': '<id'
    'body': '<${1:env} xml:id=\"$2\">\n\t$3\n<\/${1:env}>\n$4'
  'xml:id':
    'prefix': 'id'
    'body': 'xml:id=\"$1\"'
  'inline env':
    'prefix': 'i'
    'body': '<$1>$2<\/$1>$3'

# text styles
  'em':
    'prefix': 'em'
    'body': '<em>$1<\/em>$2'
  'quote':
    'prefix': 'q'
    'body': '<q>$1<\/q>$2'
  'term':
    'prefix': 't'
    'body': '<term>$1<\/term>$2'
