# Generated with Atomizr – https://atom.io/packages/atomizr
".text.xml.pretext":
	algorithm:
		prefix: "alg"
		body: '''
			<algorithm xml:id="alg-$1">
				<statement>
					<p>
						$2
					</p>
				</statement>
			</algorithm>
		'''
	assemblage:
		prefix: "assemblage"
		body: '''
			<assemblage xml:id="assemblage-$1">
				<title>$2</title>
				<p>
					$3
				</p>
			</assemblage>
		'''
	assumption:
		prefix: "assumption"
		body: '''
			<assumption xml:id="assumption-$1">
				<statement>
					<p>
						$2
					</p>
				</statement>
			</assumption>
		'''
	axiom:
		prefix: "axiom"
		body: '''
			<axiom xml:id="axiom-$1">
				<statement>
					<p>
						$2
					</p>
				</statement>
			</axiom>
		'''
	claim:
		prefix: "claim"
		body: '''
			<claim xml:id="claim-$1">
				<statement>
					<p>
						$2
					</p>
				</statement>
			</claim>
		'''
	conjecture:
		prefix: "conjecture"
		body: '''
			<conjecture xml:id="conj-$1">
				<statement>
					<p>
						$2
					</p>
				</statement>
			</conjecture>
		'''
	corollary:
		prefix: "cor"
		body: '''
			<corollary xml:id="cor-$1">
				<statement>
					<p>
						$2
					</p>
				</statement>
			</corollary>
		'''
	definition:
		prefix: "def"
		body: '''
			<definition xml:id="def-$1">
				<statement>
					<p>
						$2
					</p>
				</statement>
			</definition>
		'''
	fact:
		prefix: "fact"
		body: '''
			<fact xml:id="fact-$1">
				<statement>
					<p>
						$2
					</p>
				</statement>
			</fact>
		'''
	heuristic:
		prefix: "heuristic"
		body: '''
			<heuristic xml:id="heuristic-$1">
				<statement>
					<p>
						$2
					</p>
				</statement>
			</heuristic>
		'''
	hypothesis:
		prefix: "hypothesis"
		body: '''
			<hypothesis xml:id="hyp-$1">
				<statement>
					<p>
						$2
					</p>
				</statement>
			</hypothesis>
		'''
	identity:
		prefix: "ident"
		body: '''
			<identity xml:id="ident-$1">
				<statement>
					<p>
						$2
					</p>
				</statement>
			</identity>
		'''
	lemma:
		prefix: "lem"
		body: '''
			<lemma xml:id="lem-$1">
				<statement>
					<p>
						$2
					</p>
				</statement>
			</lemma>
		'''
	principle:
		prefix: "principle"
		body: '''
			<principle xml:id="principle-$1">
				<statement>
					<p>
						$2
					</p>
				</statement>
			</principle>
		'''
	proposition:
		prefix: "prop"
		body: '''
			<proposition xml:id="prop-$1">
				<statement>
					<p>
						$2
					</p>
				</statement>
			</proposition>
		'''
	theorem:
		prefix: "thm"
		body: '''
		<theorem xml:id="thm-$1">
			<statement>
				<p>
					$2
				</p>
			</statement>
		</theorem>
		$0
		'''
	proof:
		prefix: "proof"
		body: '''
		<proof>
			<p>
				$1
			</p>
		</proof>
		$0
		'''
